@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Shadows Into Light';
}

.hello {
  font-size: 33px;
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
}

a {
  color: teal;
  text-decoration: none;
  font-size: 2em;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vid {
  position: absolute;
}


#video {
  visibility: hidden;
}

#piano {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.octave {
  display: flex;
}

.octave-semitones {
  display: flex;
  position: absolute;
}

.octave-tones {
  display: flex;
  position: relative;
}

.tone, .semitone {
  width: 26px;
  box-sizing: border-box;
}

.tone {
  height: 170px;
  background-color: white;
  border: 1px solid #CCC;
  border-top-color: #FFF;
}

.semitone {
  height: 100px;
  background-color: black;
  border: 1px solid #FFF;
}

.key-active {
  background-color: indianred;
}

.semitone:nth-child(3) {
  margin-left: 26px;
}

.semitone:nth-child(1) {
  margin-left: 13px;
}