@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Shadows Into Light';
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  position: absolute;
}

#video {
  visibility: hidden;
}

#grid {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.6;
  z-index: 1;
}

.octave {
  display: flex;
  padding-left: 20px;
}

.octave:first-child {
  padding-top: 20px;
}

.tone, .instrument-cell {
  width: 35px;
  height: 25px;
  box-sizing: border-box;
  background-color: white;
  margin: 1px;
  cursor: pointer;
}

.instrument-cell {
  width: 15px;
  text-align: center;
  background-color: goldenrod;
  margin: 1px;
}

.note-active {
  background-color: green;
}

.animate-key {
  animation-name: animateScale;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
  animation-direction: alternate;  
}

@keyframes animateScale {
  from  {transform: scale(1)}
  to  {transform: scale(1.4)}
}

.instrument-button {
  background-color: lavender;
  border: none;
  color: darkslateblue;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  white-space: normal;
  word-break: break-all;
}

.active-instrument {
  background-color: green;
  color: white;
}